.claude
.DS_Store
.env
.netlify
.output
.svelte-kit
.vercel
.wrangler
build
data/*.sqlite
data/*.sqlite-*
node_modules
out/*.pdf
src/images/*.jpg
src/images/*.png
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
